.sign-up__form > main {
  margin-bottom: 50px;
}

.sign-up__form > section {
  max-width: 300px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.label__container {
  display: flex;
  justify-content: space-between;
}

.input__label {
  color: white;
  pointer-events: none;
}

#phoneNumber__input {
  margin-bottom: 40px;
}

.guide {
  color: rgb(200, 200, 200);
  font-size: 0.9rem;
}

.sign-up__input {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  color: white;
  font-size: 2rem;
  width: 300px;
  margin: 10px 0;
  text-align: center;
}
