.sign-up__form {
  width: 100vw;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: fadeIn 1s;
}

.sign-up__form > div:first-child {
  margin-bottom: 50px;
}

.sign-up__form > div:last-child {
  max-width: 300px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.label__container {
  display: flex;
  justify-content: space-between;
}
.label__container > span {
  margin-top: 20px;
}

.input__label {
  color: white;
  pointer-events: none;
}

.guide {
  color: rgb(200, 200, 200);
  font-size: 0.9rem;
}

.sign-up__input {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  color: white;
  font-size: 2rem;
  width: 300px;
  margin: 10px 0;
  text-align: center;
}
