.touch-text {
  width: 100vw;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  cursor: default;
  font-size: 2.3rem;
  opacity: 0;
  text-shadow: 0 0 2px black;

  animation-fill-mode: forwards;
  animation-name: fadeIn, changeScale;
  animation-delay: 1s, 1s;
  animation-duration: 1s, 1s;
}

/* 미디어 쿼리 */
@media screen and (max-width: 600px) {
  .touch-text {
    font-size: 1.8rem;
  }
}
