#background-image {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/img01.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}
