/* EarnPointContainer style & RedeemPointContainer common style */
.point__field {
  animation: fadeIn 1s;
}

#arrow-right__icon {
  font-size: 1.2rem;
  margin: 0 10px;
}

.first__p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.second__p {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

/* EarnPointContainer style */
#points-after-earning {
  background-color: transparent;
  color: greenyellow;
}

/* RedeemPointContainer style */
#points-after-redeem {
  background-color: transparent;
  color: red;
}
