/* EarnPointContainer style & RedeemPointContainer common style */
.point__field {
  animation: fadeIn 1s;
}

#arrow-right__icon {
  font-size: 1.2rem;
  margin: 0 10px;
}

.first__p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.point__mark {
  background: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.6rem;
}

.second__p {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

/* EarnPointContainer style */
#points-after-earning {
  background-color: transparent;
  color: greenyellow;
}

/* RedeemPointContainer style */
#points-after-redeem {
  background-color: transparent;
  color: red;
}
