.sign-up__button {
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  color: rgba(220, 220, 220, 0.8);
  letter-spacing: 10px;
  transition: 0.3s;
}

.sign-up__button:hover {
  color: white;
}

.move-up {
  animation: move-up 1s forwards ease-in-out;
}

@keyframes move-up {
  from {
    /* transform: translateY(100); */
    bottom: 5%;
  }
  to {
    /* transform: translateY(-200); */
    bottom: 80%;
  }
}
