/* 결제금액 label */
.amount-paid__label {
  position: absolute;
  transform: translate(5px, 25px);
}

.amount-paid__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  color: white;
  font-size: 3rem;
  text-align: right;
  padding-right: 40px;
}

#won {
  font-size: 1.8rem;
  position: absolute;
  transform: translate(-30px, 15px);
}

.check-box__field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-box__field > h3 {
  margin-bottom: 10px;
}

.label__container {
}

.method__label {
  margin: 0 30px;
  width: fit-content;
}
.label__container > label {
  display: block;
}
.label__container > label > input {
  margin-bottom: 10px;
  accent-color: yellowgreen;
  width: 15px;
  height: 15px;
}
