#phone-number__field {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input__field {
  margin-bottom: 20px;
}

.phone-number__input {
  height: 50px;
  width: 130px;
  background: transparent;
  padding: 0 10px 10px;
  font-size: 2.8rem;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.phone-number__input::-webkit-outer-spin-button,
.phone-number__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.phone-number__input[type="number"] {
  -moz-appearance: textfield;
}

.phone-number__input:focus {
  outline: none;
}

.dash {
  margin: 0 20px;
  font-size: 2rem;
  color: white;
}

#earn-point__button,
#search-point__button {
  font-size: 1.5rem;
  width: fit-content;
  padding: 5px 15px;
  background-color: rgba(30, 30, 30, 0.3);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  letter-spacing: 3px;
  margin: 0 10px;
}

#earn-point__button:hover,
#search-point__button:hover {
  background-color: rgba(30, 30, 30, 0.7);
}

/* TouchText style */
.touch-text {
  position: absolute;
  top: 70%;
  width: 100vw;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}
