#phone-number__field {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input__field {
  margin-bottom: 60px;
}

.phone-number__input {
  height: 50px;
  width: 130px;
  background: transparent;
  padding-bottom: 10px;
  font-size: 2.8rem;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.phone-number__input::-webkit-outer-spin-button,
.phone-number__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.phone-number__input[type="number"] {
  -moz-appearance: textfield;
}

.phone-number__input:focus {
  outline: none;
}

.dash {
  margin: 0 20px;
  font-size: 2rem;
  color: white;
}

.button__field {
  max-width: 380px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

/* TouchText style */
.touch-text__wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

.touch-text {
  width: 100vw;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  cursor: default;
  font-size: 2.5rem;
}

/* 미디어 쿼리 */
@media screen and (max-width: 600px) {
  .phone-number__input {
    width: 100px;
    font-size: 2.2rem;
    padding-bottom: 2px;
  }

  .dash {
    margin: 0 15px;
    font-size: 1.6rem;
  }

  .touch-text {
    font-size: 1.8rem;
  }
}
