@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic";
}

:root {
  --font-color-dark-white: rgb(220, 220, 220);
}

/* 공통 스타일 */
button:hover {
  transition: 0.3s;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:focus,
input:focus {
  outline: none;
}

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
}
